/*****  Global element styles  *****/

body { margin:0px; background: url(../images/login2.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

form { padding:0px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border:1px solid #a6a6a6; -moz-box-shadow: 1px 2px 3px black; -webkit-box-shadow: 1px 2px 3px black; box-shadow: 1px 2px 3px black; }

form input[type=text] { border:none; font-size: 18px; border-bottom: 1px solid #a6a6a6; }

form input[type=password] { border:none; font-size: 18px; border-bottom: 1px solid #a6a6a6; } 

form input[type=submit] {float: right; background-color: #2c31d8; font-size:18px; color:white; font-weight: bold; text-shadow: black 1px 1px 1px; margin:0px; border: none; padding:10px 10px 6px 10px; margin-right: -2px;}

form input[type=submit]:hover {background-color:#4246dc; cursor: pointer; }

h2 { color:#0085ff; font-size: 18px; font-family: "helvetica neue", sans-serif; font-weight: bold; margin-bottom: 0px;  }
h2 a {text-decoration: none; color:#0085ff;}

p {color: black; font-family: "helvetica neue", sans-serif; font-size:15px;}



/*****   Class styles   *****/

.follow { padding: 3px 0 3px 16px; margin-top:7px; color: #fff; font-family: "helvetica neue", sans-serif; font-size: 16px; background-repeat: no-repeat; background-position: 0 50%; background-image: url(../images/add.png); background-color: #67CAE2; border: 1px solid #67CAE2; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; width:100px; }
.follow a {text-decoration: none; color:#fff;}

.unfollow { padding: 3px 0 3px 16px; margin-top:7px; color: #fff; font-family: "helvetica neue", sans-serif; font-size: 16px; background-repeat: no-repeat; background-position: 0 50%; background-image: url(../images/remove.png); background-color: #FB6934; border: 1px solid #FB6934; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; width:100px; }
.unfollow a {text-decoration: none; color:#fff;}

.content {color: black; font-family: "helvetica neue", sans-serif; font-size:18px; padding:10px;}

.description { float:left; background-color: white; font-family: "helvetica neue", sans-serif; font-size: 16px; padding:10px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border:1px solid #a6a6a6; -moz-box-shadow: 1px 2px 3px black; -webkit-box-shadow: 1px 2px 3px black; box-shadow: 1px 2px 3px black; }

.formDesc { background-color: #3e3e3e; color:white; font-family: 'helvetica neue', sans-serif; font-weight: bold; font-size: 18px; text-shadow: black 1px 1px 1px; margin:0px; margin-left:-1px; width:100%; height:41px; }

.linkEdit {font-family: 'helvetica neue', sans-serif; color:black; background-color: gray; border: 1px solid #b0b0b0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow:1px 1px 5px black; -moz-box-shadow:1px 1px 5px black; -webkit-box-shadow:1px 1px 5px black; width:200px; height:30px;  }

.linkEdit a {text-decoration: none;}

.linkEdit a:hover {color: blue;}

.linkSignup { background-color: #e99c16; color:white; font-family: 'helvetica neue', sans-serif; font-weight: bold; font-size: 18px; text-shadow: black 1px 1px 1px; }

.linkSignup a { text-decoration: none; color:white; display: block; width:100%; height:100%; }

.linkSignup a:hover { background-color: #eba62d; }

.loginContainer { margin:0px; }

.logo { font-family: 'helvetica neue', sans-serif; font-weight: bold; font-size: 18px; text-shadow: black 1px 1px 1px; color: black; padding-right:50px; padding-left:20px; }

.menu {position:fixed; top:0px; width: 100%; box-shadow: 0px 1px 5px black; -moz-box-shadow: 0px 1px 5px black; -webkit-box-shadow: 0px 1px 5px black; font-family: helvetica; font-size: 14px; font-weight: bold; background-color: white;  }

.menu a { text-decoration: none; color: black; padding-right: 30px; }

.picOuter { margin-top: 10px; margin-left:25px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow:1px 1px 5px black; -moz-box-shadow:1px 1px 5px black; -webkit-box-shadow:1px 1px 5px black; width:90px; height:90px; }

.picBorder { border: 5px solid white; margin:0px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

.pitchInput {border:1px solid gray; font-size:18px; }

.post { color: black; font-family: "helvetica neue", sans-serif; font-size:15px; border-bottom: 1px solid #b0b0b0; padding: 10px; }

.postCaption { color: #a6a6a6; font-family: "helvetica neue", sans-serif; font-size:13px; }

.profileLeft { width:500px; vertical-align: top; float: left; }

.profileRight { width: 300px; vertical-align: top; float: left; }

.profileLocation { padding: 3px 0 3px 16px; color: #999; font-family: "helvetica neue", sans-serif; font-size: 16px; background-repeat: no-repeat; background-position: 0 50%; background-image: url(../images/location.png); }

.trade { color: #000000; font-family: "helvetica neue", sans-serif; font-size: 16px;   }

.title {font-family: "helvetica neue", sans-serif; font-size: 18px; color:#black;}

.userCardContainer { background-color: #e8e8e8; border: 1px solid #b0b0b0; height: 120px; }





