.gn2nContainer { width:300px; height: 200px; background-color: #dbecff; padding: 10px;  }

.string { width:30px; height:30px; border:1px solid #00ff00; background-color: #159040; color:white; font-family: sans-serif; font-weight:bold; font-size:20px; text-align: center; padding-top:5px; margin-right:5px; float:left; }